section {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #071013;
  border-radius: 52px;
  margin-left: 5%;
}

h2{
  display: flex;
  justify-content: center;
  background-color: #071013;
  color: white;
  border-bottom: 4px solid;
}

.contenairAllProject {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.containerTextImage img {
  width: 558px;
  height: 300px;
  margin: 15px;
  border-radius: 12px 12px 0 0;
}

.textProject{
  display: flex;
  justify-content: center;
  width: 90%;
  border: 4px solid;
  background-color: #071013;
  color: white;
  border-radius: 8px;
  margin-left: 5%;
  font-weight: bold;
  margin-top: 20px;

}

.description-project{
background-color: blue;
display: flex;
justify-content: space-around;
border-radius: 0 0 12px 12px;
width: 558px;
flex-grow: 1;
margin-left: 10px;
margin-top: -13px;
padding-bottom: 20px;
color: white;

    ul{
      list-style-type: none;
    }
    h3{
      display: flex;
      justify-content: center;
      margin-right: 30px;
    }
}
