.mesProjets {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #071013;
  border-radius: 52px;
  margin-left: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  font-family: 'Anton', sans-serif;

  
}
.titleProject{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Anton', sans-serif;

}
.contenairAllProject {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 50px;
}


@media (min-width: 920px) {
  .mesProjets{
  width: 95%;
  margin-left: 2.5%;

  
  }
  }
  
  
  @media (max-width: 720px) {

  }